  /* 英文字型 */
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+TC&family=Roboto:wght@300;400;500;700&display=swap');

  /* 中文字型 */
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+TC&family=Roboto:wght@300;400;500;700&display=swap');

  * {
      font-family: 'Roboto', 'Noto Sans TC', sans-serif;
      margin: 0;
      padding: 0;
  }

  /* 畫面漸變出現 */
  body {
      opacity: 0;
      animation: fadein 0.5s ease-out forwards;
      animation-delay: 0.5s;
  }

  @keyframes fadein {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }
