  /* 英文字型 */
  /* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+TC&family=Roboto:wght@300;400;500;700&display=swap'); */
  @font-face {
      font-family: en;
      src: url(./fonts/OpenSans/static/OpenSans-Regular.ttf);
  }

  /* 中文字型 */
  /* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+TC&family=Roboto:wght@300;400;500;700&display=swap'); */
  @font-face {
      font-family: zh;
      src: url(./fonts/NotoSans/static/NotoSansTC-Regular.ttf);
  }

  * {
      font-family: en, zh;
      margin: 0;
      padding: 0;
  }

  /* 畫面漸變出現 */
  body {
    /* 畫面不要出現，直到我程式執行完再出現 */
    display: none;
}
  /* body {
      opacity: 0;
      animation: fadein 0.5s ease-out forwards;
      animation-delay: 0.5s;
  } */

  @keyframes fadein {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }

  /* 主標字體大小：50px or 3.5rem */

  /* 副標字體大小：20px or 1.2rem */

  /* 單字瀏覽分隔線 開始 */
  [name="point"] {
      background: linear-gradient(to right, transparent, #82A0C5, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  /* 單字瀏覽分隔線 結束 */

  /* 按鈕樣式 */


  /* 深色底淺色字 */
  /* [name="btn_start2"],
  .btn_readTest,
  .confirm,
  .again,
  .next,
  .score,
  .wrong,
  .record,
  .btn_record_view_close {
      padding: 5px;
      cursor: pointer;
      border: 3px solid #6A87A9;
      border-radius: 30px;
      color: #fff;
      background-color: #47658B;
      font-size: 18px;
      width: 11rem;
      text-align: center;
      letter-spacing: 5px;
      text-indent: 5px;
      margin-top: 2rem;
      transition: all .3s;
  }   */


  :root {
    --mainColor: #82A0C5;
    --btn_confirm-title-size: 18px;
    --btn_confirm-bordercolor: #6A87A9;
    --btn_confirm-textcolor: #fff;
    --btn_confirm-bgcolor: #47658B;
    --quize-title-size: 20px;
    --quize-title-color: #000;
    --option_font_size: 20px;
    --option_border_clolr: #82A0C5;
    --option_selected_bgcolor: #B6C7DB;
    --btn_open_close-size: 18px;
    --subtitleColor: #919191;
    --bar_gray: #B6C7DB;
    --conversation_content: 18px;
    --answer_record_color: #181818;


    --size: 50px;
    --lineWeight: 10px;
    --borderColor: #82A0C6;
}