<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Standout RWD 2023開發進度彙總</title>
    <script src="./11544en2/main/jquery-3.6.3.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.16.0.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.min.css">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css"> -->



</head>

<body>
    Standout RWD專案進度

    >standout_2023 [DEMO---](11621en2/index.htm)
    <br>

    <a href="./11621en2/index.htm">standout_2023(DEMO)</a>



    <div id="content" hidden>
        # Standout RWD專案進度

        >standout_2023 [DEMO--](11621en2/index.htm)

        #測試option

        >select_option [test](testSelect/index.html)

        ## 產生器進度(包老師進行中)
        目前已經能批次產出課程，並且可拷貝intro及dra影片mp4到material資料夾，課後挑戰已經填入參數，`目前剩下文法表格尚未拷貝`。

        ## 文法表格確認

        >文法表格 [A版](grammar_form/A.html)

        >文法表格 [B版](grammar_form/B.html)

        >文法表格 [C版](grammar_form/C.html)

        >文法表格 [D版](grammar_form/D.html)

        >文法表格 [E版](grammar_form/E.html)


        ## 各種模組
        ### 課程資訊
        >學習資訊 [a0_01course_outline 林懷志
        100%](11544en2/a0_01course_outline/index.html)(有html檔)(2023.3.24)|a0_01course_outline 林懷志 (美術設計css) 100%|

        >學前引導 [a0_02before_you_start 林懷志 100%](11544en2/a0_02before_you_start/index.html)(有html檔)(2023.5.2)

        ## 單字練習
        >單字瀏覽 [b0_01vocabulary_study 包明勝 100%](11544en2/b0_01vocabulary_study/index.html) (2023.5.12 css設計
        90%)(2023.5.15 css設計 99%)(2023.5.26 css設計 100%)

        >記憶訓練 [b0_03flash_card_drill 包明勝 100%](11544en2/b0_03flash_card_drill/index.html) (2023.5.17 css設計 90%)

        >單字練習
        >>聽音辨字 [b0_04listen_word 林懷志 65%](11544en2/b0_04listen_word/index.html)(2023.3.2) |b0_04listen_word 林懷志+包老師
        95%|(2023.3.10)(b0_04listen_word.js)(2023.6.2 css設計 80%)(2023.6.26 css套版 90%)

        >>看字辨音 [b0_05word_listen 林懷志 65%](11544en2/b0_05word_listen/index.html)(2023.3.23) |b0_04listen_word 林懷志+包老師
        95%|(2023.6.26 css套版 90%)

        >>拼字練習 [b0_06spelling_practice 林懷志 65%](11544en2/b0_06spelling_practice/index.html)(2023.3.23) |b0_04listen_word
        林懷志+包老師 95%|(2023.6.26 css套版 90%)

        ## 會話學習
        >會話學習 [c0_01conversation_classroom 包明勝
        100%](11544en2/c0_01conversation_classroom/index.html)(2023.3.23)|c0_01conversation_classroom 林懷志 (美術設計css) 60%|
        a07(2023.5.26 css設計 80%)(2023.5.29 css設計 90%)(2023.5.30 css設計 100%)

        >會話理解 [c0_02speaking_chinesetranslation 包明勝
        100%](11544en2/c0_02speaking_chinesetranslation/index.html)(2023.5.31 css設計 95%)

        ## 文法學習
        >文法句型解析 [d0_01grammar_classroom 林懷志 100%](11544en2/d0_01grammar_classroom/index.html)(有html檔)(2023.5.2)

        >文法表格 [d0_02grammar_chart 林懷志 100%](11544en2/d0_02grammar_chart/index.html)包老師改成讀取外部html檔案 90% (2023.6.01 css設計
        80%)

        >代換練習 [d0_03pattern_application 林懷志 100%](11544en2/d0_03pattern_application/index.html) (2023.5.19 css設計
        90%)(2023.5.23 css設計 100%)

        ## 聽力訓練
        >聽力訓練 [e0_02listening 林懷志 50%](11544en2/e0_02listening/index.html)(只有html檔+未完成js檔) | 對應測驗模組Quiz，進行中，包老師95%
        (2023.6.27 css套版 90%)(答對沒有詳解區出現)

        >聽力理解 [e0_03listening_chinese_translation 林懷志
        50%](11544en2/e0_03listening_chinese_translation/index.html)(只有html檔)(js檔完成 90% 差播放按鈕功能與樣式)(2023.5.26 css設計
        100%)

        ## 閱讀訓練

        ~~閱讀訓練與課後答題，統一為同一節點，叫做閱讀訓練(讀後答題刪除)~~

        >閱讀訓練 [f0_01reading 林懷志 50%](11544en2/f0_01reading/index.html)(只有html檔)(js檔完成 100%)(2023.5.25 css設計 100%)

        >~~讀後答題 [f0_03reading_comprehension 林懷志
        50%](11544en2/f0_03reading_comprehension/index.html)(只有html檔)(Max先做此節點，做完後再與前面合併 95%)~~(2023.6.27 css套版 90%)

        >全文對照 [f0_04read_chinese_translation 林懷志
        100%](11544en2/f0_04read_chinese_translation/index.html)(2023.4.6)(html+js檔 100%)(2023.5.24 css設計 100%)

        ## 課後挑戰
        ### 合併所有項目為一節點

        > 課後挑戰整合節點[g0_02cloze_test 林懷志 50%](11544en2/g0_02cloze_test/index.html)(只有html檔)|包老師 95%

        > ~~單字配對 [g0_01vocabulary_test 林懷志 50%](g0_01vocabulary_test/index.html)~~

        >~~克漏字 [g0_02cloze_test 林懷志 50%](g0_02cloze_test/index.html)(只有html檔)~~

        >~~聽力填空 [g0_03listening_test 林懷志 50%](g0_03listening_test/index.html)(2023.3.1)(只有html檔)~~

        ## 重點整理

        >單字列表 [h0_01vocabulary_list 林懷志 100%](11544en2/h0_01vocabulary_list/index.html) (2023.5.18 css設計 100%)

        >會話文法摘要 [h0_02grammar_conversation 林懷志 100%](11544en2/h0_02grammar_conversation/index.html)

        >講義下載 [h0_03handout_download 林懷志 100%](11544en2/h0_03handout_download/index.html)






        # `盤點模組(缺漏模組)`

        教材編號：11588en2

        * `本課程的maxtools2023是最終版本`

        測試課程名稱：Where are you from?

        ## 單字學習

        Unit 1-1 [單字學習單字瀏覽](11588en2/b0_07vocabulary_study/index.html)B0_07 單字瀏覽_例句 包老師完成 (林懷志 css套版 80%)

        ## 文法學習

        >D0_04 [短句重組](11588en2/d0_04_unscramble_sentences/index.html)包老師完成90% (林懷志 css套版 80%)

        >D0_05 [文法克漏字](11588en2/d0_05clozetest/index.html)包老師完成90% (林懷志 css套版 80%)

        ## 課後挑戰

        >G0_04 [單字克漏字](11588en2/g0_02cloze_test/index.html)4/12包老師開始，對標`book2 unit1-1 Where are you from?`
        >>開發重點，將這三個項目統合到g0_02模組


        * ~`短文填空的ox不見了，並且錯題重玩會死`~已修復2023/5/5/包老師


        >~~G0_05 聽力填空_句子~~

        >~~G0_06 短文填空~~

        ---------------------------------------

        教材編號：11545en2

        測試課程名稱：What's your number?

        ## 聽力訓練

        >E0_01 [聽力訓練_題組](11545en2/e0_01listening_group/index.html)包老師90% (林懷志 css套版 80%)


        --------------------------------------------

        教材編號：11592en2

        測試課程名稱：How is the weather today?

        ## 聽力訓練

        >E0_05 [聽力訓練_題組+圖片](11592en2/e0_05listening_group_image/index.html)包老師進行90% (林懷志 css套版 80%)

        * `這個聽力測驗，是以第一個題目的插圖作為全部題組的插圖，尚未確定是否完全如此，所以未來再寫這個部分。`



        -----------------------------------------------

        教材編號：11595en2

        測試課程名稱：What are they wearing?

        ## 聽力訓練

        >E0_06 [聽力訓練_單題+圖片](11595en2/e0_06listening_one_and_image/index.html)包老師進行90% (林懷志 css套版 80%)

        -----------------------------------------------

        教材編號：11561en2

        測試課程名稱：Buying lunch

        ## 閱讀訓練

        >F0_02 [閱讀訓練_圖片訊息](11561en2/f0_02reading/index.html) 4/24 林懷志 50% (2023.6.01 css設計 50%) (林懷志 css套版 80%)

        >F0_05 [全文對照_圖片](11561en2/f0_05read_chinese_translatior/index.html) 4/25 林懷志 100% (2023.6.02 css設計 100%) (林懷志
        css套版 80%)

        -------------------------------------------------

        教材編號：11604en2

        課程名稱：Finding a home

        #聽力訓練

        模組名稱：E0_05_聽力訓練_題組+圖片

        >E0_05 [聽力訓練_題組+圖片] 每組1題共4組+4張圖片

        --------------------------------------------------------

        教材編號：11607en2

        課程名稱：Family budget

        #聽力訓練

        模組名稱：E0_05_聽力訓練_題組+圖片

        >E0_05 [聽力訓練_題組+圖片] 每組3題共3組+1張圖片

        ---------------------------------------------------------









    </div>
    <h1 hidden>進度表：</h1>
    <div class="mermaid" hidden>#暫時不使用
        gantt

        axisformat %m-%d

        Title 重點目標進度(會隨著進度調整)

        Section 課程製作
        初期簡約版型製作: done, crit, 2023-02-01, 30d
        簡單模組程式設計: crit, 2023-02-25, 45d
        測驗模組製作:crit,a1 , 2023-03-06, 20d
        美術UI套版: crit, after a1, 40d
        Section 課程產生器
        產生器: crit, 2023-02-25, 45d
        Section 全部進度
        總進度: 2023-01-01, 182d
    </div>
    <script>
        marked.setOptions({
            highlight: function (code, language) {
                const validLanguage = hljs.getLanguage(language) ? language : 'plaintext';
                return hljs.highlight(validLanguage, code).value;
            }
        });
        const renderer = new marked.Renderer();
        renderer.table = (header, body) => {
            return `
            <table  class="table table-striped table-bordered">
            <thead>${header}</thead>        
            <tbody>${body}</tbody>
            </table>
            `.trim().replace(/\n/g, '');
        };
        renderer.code = function (code, language) {
            const validLanguage = hljs.getLanguage(language) ? language : 'plaintext';
            const highlighted = hljs.highlight(validLanguage, code).value;
            return `<pre><code class="hljs ${validLanguage}">${highlighted}</code></pre>`;
        };
        $('#content').html(marked.parse($('#content').text()))
    </script>
    <div><br><br></div>
    <h1>以下是程式測試：</h1>
    <div id="qunit" style="position: inherit;"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.16.0.js"></script>
    <script src="qunit_test.js"></script>
    <script src="./11544en2/material/data.js"></script>
    <script src="./11544en2/vocabWizard/word.js"></script>
    <script src="./11544en2/main/maxtools2023.js"></script>
    <!-- <script src="./main/transfer.js"></script> -->
</body>

</html>