.content{
    color: blue;
}

  /* 英文字型 */
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+TC&family=Roboto:wght@300;400;500;700&display=swap');

  /* 中文字型 */
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+TC&family=Roboto:wght@300;400;500;700&display=swap');

  * {
      font-family: 'Roboto', 'Noto Sans TC', sans-serif;
      margin: 0;
      padding: 0;
  }

  /* html,
  body {
      overflow: hidden;
  } */

  /* 主標字體大小：50px or 3.5rem */

  /* 副標字體大小：20px or 1.2rem */

  /* 左上角標題 */
  .top_left {
      background-image: url(../images_ui/top_left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 1.2%;
      position: relative;
      z-index: 10;
  }

  .top_left .sub {
      font-size: 3.2vmin;
      margin: 0;
      color: white;
      padding-left: 20px;
      padding-top: 16px;
  }

  /* 右上角的背景圖案 start */

  /* .top_right {
      position: absolute;
      top: -30rem;
      right: -15rem;
      width: 58%;
      z-index: -1;
  } */

  .top_right {
      background-image: url(../images_ui/circle_top_A.SVG);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 15rem;
      position: absolute;
      top: -15rem;
      right: 0;
      z-index: -1;
  }

  .top_right img {
      width: 100%;
  }

  /* 右上角的背景圖案 end */

  .title {
      text-align: center;
  }

  .title h1 {
      margin: 0;
      letter-spacing: 5px;
  }

  .title div {
      margin: 0;
      color: #919191;
      font-weight: 900;
  }

  .open_button {
      text-align: center;
      margin: 10px 0;
  }

  /* .down_left {
      width: 35%;
      position: absolute;
      bottom: 0;
      z-index: -10;
  } */

  .down_bg {
      position: relative;
      height: 19.5vh;
  }

  .down_left {
      background-image: url(../images_ui/down_left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      padding: 5%;
      padding: 5vw 16vw;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .down_left img {
      width: 100%;
      display: block;
  }

  /* .down_right {
      position: absolute;
      bottom: -20rem;
      right: -15rem;
      width: 30%;
  } */
  .down_right {
      background-image: url(../images_ui/circle_C.SVG);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 5vw;
      position: absolute;
      bottom: 0;
      right: 0;

  }

  .down_right img {
      width: 100%;
  }

  [name="point"] {
      background: linear-gradient(to right, transparent, #82A0C5, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  /* 按鈕樣式 */
  /* 淺色底深色字 */
  [name="openall"],
  [name="btn_closedirections"],
  [name="btn_start"],
  [name="btn_quizStart"] {
      padding: 5px 15px;
      cursor: pointer;
      border: 3px solid #6A87A9;
      border-radius: 30px;
      color: #405F7B;
      background-color: #DDE5EF;
      font-weight: 900;
      font-size: 20px;
      width: fit-content;
      text-align: center;
      letter-spacing: 5px;
      text-indent: 5px;
      margin-top: 2rem;
      transition: all .3s;
  }

  /* 深色底淺色字 */
  [name="btn_start2"],
  .btn_readTest,
  .confirm,
  .again,
  .next,
  .score,
  .wrong,
  .record,
  .btn_record_view_close {
      padding: 1px 50px;
      cursor: pointer;
      border: 3px solid #6A87A9;
      border-radius: 30px;
      color: #fff;
      background-color: #47658B;
      font-weight: 900;
      font-size: 18px;
      width: fit-content;
      text-align: center;
      letter-spacing: 5px;
      text-indent: 5px;
      margin-top: 2rem;
      transition: all .3s;
  }

  [name="openall"].clicked {
      background-color: #47658B;
      color: white;
  }

  /* 淺色底深色字 */
  [name="btn_toggleChinese"],
  .openAllWord,
  .closeAllWord,
  .word_search {
      padding: 5px 15px;
      cursor: pointer;
      border: 3px solid #6A87A9;
      border-radius: 30px;
      color: #405F7B;
      background-color: #DDE5EF;
      font-weight: 900;
      font-size: 15px;
      width: fit-content;
      text-align: center;
      letter-spacing: 5px;
      text-indent: 5px;
  }

  /* 深色底淺色字 */
  .en_to_cht {
      padding: 5px 15px;
      cursor: pointer;
      border: 3px solid #6A87A9;
      border-radius: 30px;
      color: #fff;
      background-color: #47658B;
      font-weight: 900;
      font-size: 15px;
      width: fit-content;
      text-align: center;
      letter-spacing: 5px;
      text-indent: 5px;
  }

  /* 測驗共用樣式 start */
  [name="QuizContainer"] {
      min-height: 58.9vh;
  }

  .Quiz {
      width: 100%;
  }

  .Q {
      width: 70%;
      margin: auto;
  }

  .mp3 {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #82A0C5;
      display: flex;
      justify-content: center;
      cursor: pointer;
  }

  .mp3 img {
      width: 75%;
  }

  .area {
      border: 1px solid #ccc;
      background-color: rgba(204, 204, 204, 0.493);
      border-radius: 10px;
      margin-top: 3rem;
  }

  .A {
      width: 70%;
      margin: auto;
  }

  .listening {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .item,
  [name="pair_options"] .item_unselect {
      position: relative;
      background-color: #fff;
      border: 2px solid #82A0C5;
      margin-bottom: 25px;
      text-align: center;
      border-radius: 10px;
      cursor: pointer;
  }

  .item{
    padding: 10px 50px;
  }

  [name="pair_options"] .item_unselect{
    padding: 10px 25%;
  }

  [name="pair_btn_play"] {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #82A0C5;
      display: flex;
      justify-content: center;
      cursor: pointer;
  }

  [name="pair_btn_play"] img {
      width: 70%;
  }

  [name="pair_options"] {
      margin-left: 20px;
      width: 100%;
  }

  [name="write_pair"]{
    display: flex;
  }
  [name="write_pair"] .item_unselect {
      background-color: #fff;
      border: 2px solid #82A0C5;
      text-align: center;
      border-radius: 10px;
      padding: 10px 60px;
      cursor: pointer;
      position: relative;
  }

  [name="ansox"] {
      width: 100px;
  }

  .option_selected {
      background-color: #B6C7DB;
  }

  .voice_item {
      width: 15%;
      margin: auto;
  }

  .voice_item img {
      width: 100%;
  }

  .answer_button {
      text-align: end;
      margin-right: 19%;
  }

  .ans_o {
      border: 10px solid green;
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }

  [name="pair_o"] {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 10px solid greenyellow;
      position: absolute;
      top: 0;
      left: 0;
  }

  .ans_x {
      width: 100px;
      height: 100px;
      position: relative;
  }

  .ans_x::before,
  .ans_x::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: red;
      border-radius: 10px;
  }

  .ans_x::before {
      transform: rotate(45deg);
  }

  .ans_x::after {
      transform: rotate(-45deg);
  }

  [name="pair_x"] {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  [name="pair_x"]::before,
  [name="pair_x"]::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: red;
      border-radius: 10px;
  }

  [name="pair_x"]::before {
      transform: rotate(45deg);
  }

  [name="pair_x"]::after {
      transform: rotate(-45deg);
  }

  .area_title {
      color: #48648B;
  }

  .area_content {
      margin-left: 30px;
  }

  .orange {
      font-size: 30px;
      font-weight: 900;
      color: #82A0C5;
  }

  /* 測驗共用樣式 end */


  [name="cover"] {
      /* background-color: #DDE5EF; */
      /* border: 3px solid #6A87A9; */
      color: #A4BBDA;
      font-size: 50px;
  }

  [name="text"] {
      font-size: 30px;
  }

  /* 播放組件css start */
  .play_group {
      text-align: center;
  }

  /* 播放條整體 */
  input[type="range"] {
      -webkit-appearance: none;
      overflow: hidden;
      width: 480px;
      height: 20px;
      outline: none;
      background: none;
      margin: 10px 0;
  }

  /* 播放滑塊樣式 */
  input[type="range"]::-webkit-slider-thumb {
      /* -webkit-appearance: none; */
      appearance: none;
      position: relative;
      width: 16px;
      height: 16px;
      background: #48668C;
      border-radius: 50%;
      transition: .2s;
      margin-top: -5px;
      /* border-image: linear-gradient(#f44336, #f44336) 0 fill / 8 20 8 0 / 0px 0px 0 2000px; */
  }

  /* 播放軌道樣式 */
  input[type="range"]::-webkit-slider-runnable-track {
      height: 6px;
      width: 180px;
      border-radius: 4px;
      background: #B6C7DB;
  }

  .btn_group {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .btn_group [name="btn_play"] img,
  .btn_group [name="btn_loop"] img {
      width: 100%;
  }

  [name="btn_speed"] {
      width: 60px;
      margin: 0 10px;
      padding: 3px 10px;
      cursor: pointer;
      border: 2px solid #496688;
      border-radius: 20px;
      color: #3A5B7A;
      font-weight: 900;
  }

  /* [name="btn_play"] {
      width: 25px;
      margin: 0 10px;
      cursor: pointer;
  } */

  [name="btn_loop"] {
      width: 40px;
      margin: 0 10px;
      cursor: pointer;
  }

  /* 播放組件css end */

  /* 數字頁籤 start */
  .button_group {
      display: flex;
      margin: 20px 0;
      flex-wrap: wrap;
  }

  .btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .button {
      width: 25px;
      height: 25px;
      border-radius: 7px;
      border: 2px solid #82A0C5;
      color: #82A0C5;
      text-align: center;
      line-height: 1.7;
      margin: 0 5px;
      cursor: pointer;
      transition: .5s all;
  }

  .button:hover {
      background-color: #82A0C5;
      color: #fff;
  }

  /* 數字頁籤 end */


  @media screen and (max-width:768px) {

      html,
      body {
          overflow: auto;
      }

      .top_left {
          position: relative;
          padding-bottom: 12%;
      }

      /* .top_right {
          top: -13rem;
          right: -12rem;
          width: 100%;
      } */

      .top_right {
          padding: 7rem;
          top: -10rem;
          right: 0;
          z-index: -1;
      }

      .abc {
          margin: 10px 0;
      }

      /* .down_left {
          width: 100%;
          position: static;
      } */
      .down_left {
          width: 100%;
          padding: 15.5vw 0vw;
      }

      .down_right {
          display: none;
      }

      /* 漢堡選單 start */

      .sub {
          display: none;
      }

      .ham {
          position: absolute;
          top: 15%;
          left: 5%;
          width: 60px;
          height: 55px;
          cursor: pointer;
      }

      .ham span {
          display: block;
          background: #fff;
          width: 34px;
          height: 4px;
          border-radius: 3px;
          transition: margin 0.25s 0.25s, transform 0.25s;
      }

      .ham .bar1 {
          margin-bottom: 8px;
      }

      .ham .bar3 {
          margin-top: 8px;
      }

      .ham.active span {
          transition: margin 0.25s, transform 0.25s 0.25s;
      }

      .ham.active .bar1 {
          margin-top: 8px;
          margin-bottom: -4px;
          transform: rotate(45deg);
      }

      .ham.active .bar2 {
          transform: rotate(45deg);
      }

      .ham.active .bar3 {
          margin-top: -4px;
          transform: rotate(135deg);
      }

      /* 漢堡選單 end */

      /* 框框邊角的顏色start */
      .corner {
          background-color: #82A0C5;
          clip-path: polygon(100% 0, 0 0, 100% 100%);
          position: absolute;
          top: 0;
          right: 0;
          width: 90px;
          height: 50px;
      }

      /* 框框邊角的顏色end */

      /* 播放組件css start*/
      .play_group {
          width: 90%;
          margin: auto;
      }

      input[type="range"] {
          width: 100%;
      }

      .btn_group {
          justify-content: space-evenly;
      }

      [name="btn_speed"] {
          width: 15%;
          margin: 0;
      }

      [name="btn_play"] {
          width: 6%;
          display: flex;
          margin: 0;
      }

      [name="btn_loop"] {
          width: 10%;
          margin: 0;
      }

      /* 播放組件css end */

      .en_to_cht {
          padding: 3px 1px;
          letter-spacing: 3px;
      }

      .button {
          margin-top: 10px;
      }

      /* 測驗共用樣式 start */

      [name="ansox"] {
          width: 80px;
          height: 100px;
      }

      .ans_o {
          width: 70px;
          height: 70px;
      }

      .ans_x {
          width: 70px;
          height: 70px;
      }

      .area {
          display: none !important;
      }

      /* 測驗共用樣式 end */

      .down_bg {
          position: relative;
          height: 25vh;
      }

  }

  @media screen and (max-width:375px) {
      .down_bg {
          position: relative;
          height: 21.5vh;
      }

  }

.pair_btn_empty{
    /* border: 3px solid #82A0C5; */
    border-radius: 5px;
    cursor: pointer;
    height: 22px;
}