* {
    font-family: 'Roboto', sans-serif;
}

/* ABCDE版共用CSS start */
.head {
    background-color: #fa8597;
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
}

h1 {
    margin-top: 50px;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tbody {
    border: 1px solid #fa8597;
}

.titleColor {
    background-color: #fce1e2;
    height: 20px;
    text-align: center;
}

/* ABCDE版共用CSS end */

.aLayout thead tr,
.dLayout thead tr,
.eLayout thead tr,
.fLayout thead tr {
    border: transparent;
}

.content {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #fa8597;
}

.left,
.right {
    width: 50%;
}

.left table td {
    border-top: 1px solid #fa8597;
    border-right: 1px solid #fa8597;
}

.right table td {
    border-top: 1px solid #fa8597;    
}

.p {
    padding: 10px 0 10px 10px;
}

.pp{
    padding: 16px 0 10px 10px; 
}

.cLayout,
.dLayout {
    margin-top: 10px;
}

[name="all"] .content:last-child .left table tr:last-child td{
    padding: 21px 0 18px 10px;
}

[name="all"] .content:last-child .left table tr:last-child .c{
    padding: 10px 0 10px 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eLayout {
    width: 350px;
    margin: 10px 10px 0 10px;
}

.eLayout tbody tr td {
    padding: 10px;
}

.eLayout tbody .a td{
    padding: 1px;
}

td span{
    text-decoration:line-through;
}
.fLayout th:nth-child(1){
    border-radius: 10px 0 0 0;
    border-right:1px solid #fff;
}
.fLayout th:nth-child(2){
    border-radius: 0;
    border-right:1px solid #fff;
}
.fLayout th:nth-child(3){
    border-radius: 0 10px 0 0;
}

@media screen and (max-width: 768px) {

    .left,
    .right {
        width: 100%;
    }

    .t{
        border-right: transparent !important;
    }
}